<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>标题</th>
        <th>副标题</th>
        <th>正文</th>
        <th>创建时间</th>
    </tr>
    </thead>
    <tbody>
    {% for item in items %}
    <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.title }}</td>
        <td>{{ item.sub_title }}</td>
        <td>{{ item.content }}</td>
        <td>{{ item.create_time }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>
